<h1>Játékterületek:</h1>
<hr>
<!-- <p>Játékmódok: Seregbevonulás, Precíz Célbalővés, Hegylakó, Háború, Zászlófoglalás</p> -->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/image-7.png" alt="gyakorlo"> 
        </div>
        <div class="col">
            <h3>Gyakorló pálya</h3>
            <p>A "Gyakorlópálya" az újoncoknak segít bele rázodni a sportba. Míg a profibb játékosoknak lehetőséget ajánl arra, hogy tovább képezzék magukat.</p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya5.jpg" alt="palya1"> 
        </div>
        <div class="col">
            <h3>Viadal</h3>
            <p>A "Viadal" pályánk a legegyszerűbb és a legkezdő barátabb az összes közül. Ragadj meg egy társad és küzdj meg az ellenséges csapat két tagjával, vagy emeld a tétett és küzdjetek meg 4-en egy 4 fős csapat ellen.</p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya6.png" alt="palya2"> 
        </div>
        <div class="col">
            <h3>2Bázis</h3>
            <p>A "2Bázis" a játékosaink legkedveltebb pályája, mind a nagyságának és a hozzákötődő játékmódoknak köszönhetően. A masszív terepnek köszönhetően akár 10 játékos is játszhat rajta csapatonként. </p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya3.png" alt="palya3"> 
        </div>
        <div class="col">
            <p>Név: Por 2</p>
            <p>Egy híres játék által inspitált pálya. Ezen a pályán az ajánlott játékmódok a következők: Háború, zászlófoglalás</p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya4.png" alt="palya4"> 
        </div>
        <div class="col">
            <p>Név: Temető</p>
            <p>A pálya rengeteg stratégiai ponttal rendelkezik, mint például magaslati pont, árkok, alagutak. Ezen a pályán az ajánlott játékmódok a következők: Seregbevonulás, hegylakó, háború</p>
        </div>
    </div>
</div>

     

