<p>Játékmódok: Seregbevonulás, Precíz Célbalővés, Hegylakó, Háború, Zászlófoglalás</p>
<hr>
<p>Játékterületek:</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/image-7.png" alt="gyakorlo"> 
        </div>
        <div class="col">
            <p>Név: Gyakorló</p>
            <p>Gyakorlópálya, amely a precíz célbalővés játékmódra lett kiválasztva.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya1.png" alt="palya1"> 
        </div>
        <div class="col">
            <p>Név: Bázis</p>
            <p>Az legalapabb pálya. Minden játékmódra lefoglalható.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya2.png" alt="palya2"> 
        </div>
        <div class="col">
            <p>Név: Felhőkarcoló</p>
            <p>Ez a pálya az egyik legkisebb, de a legkaotikusabb is egyben. Ezen a pályán az ajánlott játékmódok a következők: Seregbevonulás, hegylakó, háború.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya3.png" alt="palya3"> 
        </div>
        <div class="col">
            <p>Név: Por 2</p>
            <p>Egy híres játék által inspitált pálya. Ezen a pályán az ajánlott játékmódok a következők: Háború, zászlófoglalás</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="600" height="400" src="./assets/palya4.png" alt="palya4"> 
        </div>
        <div class="col">
            <p>Név: Temető</p>
            <p>A pálya rengeteg stratégiai ponttal rendelkezik, mint például magaslati pont, árkok, alagutak. Ezen a pályán az ajánlott játékmódok a következők: Seregbevonulás, hegylakó, háború</p>
        </div>
    </div>
</div>

     

