.col{
    justify-content: center;
    padding: 7;
    margin: 10;
}
.row{
    justify-content: center;
    padding: 7;
    margin: 10;
}
.col-sm{
    justify-content: center;
    padding: 7;
    margin: 10;
    display: flex;
}
