<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="./assets/logopng.png" alt="" width="70" height="70">

    <a class="navbar-brand" href="http://localhost:4200/home">Főoldal</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="navbar" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="playground">Játékterületek<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="new-booking">Időpontkérés<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="booking">Foglalásaid<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="login">Belépés<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="signup">Regisztráció<span class="sr-only"></span></a>
        </li>

      </ul>

    </div>
  </nav>
