<!-- {{newBooking2|json}} -->
<!-- {{bookings| json}} -->
<!-- {{user| json}} -->
<h1>Új foglalás</h1>

<input [(ngModel)]="newBooking2.displayName" type="text" placeholder="Név">
<select class="form-select" aria-label="Default select example" [(ngModel)]="newBooking2.playground" type="text"
  placeholder="Pálya név">
  <option text="Gyakorló">Gyakorló</option>
  <option text="Viadal">Viadal</option>
  <option text="2Bázis">2Bázis</option>
  <option text="Por 2">Por 2</option>
  <option text="Temető">Temető</option>
</select>

<select class="form-select" aria-label="Default select example" [(ngModel)]="newBooking2.type" type="text"
  placeholder="Játékmód">
  <option text="Seregbevonulás">Seregbevonulás</option>
  <option text="Célbalővés">Célbalővés</option>
  <option text="Háboró">Háború</option>
  <option text="Zászlófoglalás">Zászlófoglalás</option>
  <option text="Hegylakó">Hegylakó</option>
</select>




<ngb-datepicker #dp [(ngModel)]="newBooking2.date" (navigate)="date = $event.next" />
<input [(ngModel)]="newBooking2.time" type="time" placeholder="Óra">
<hr />

<button class="btn btn-sm btn-outline-primary me-2" (click)="date = today">Mai nap</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">Jelenlegi hónap</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="pushBooking()">Mentés</button>


<hr />

<h5>Foglalásaid</h5>
<div class="row">
  <ng-container *ngIf="user && bookings">
    <div *ngFor="let item of bookings|searchBooking:user.uid" class="row">
      <div class="box">
        <div class="col">{{item.displayName}}</div>
        <div class="col2">{{item.playground}}</div>
        <div class="col3">{{item.type}}</div>
        <div class="col4"><button type="button" (click)="editBooking(item)" class="btn btn-primary">Szerkesztés</button>
        </div>
        <div class="col5"><button type="button" (click)="deleteBooking(item)" class="btn btn-primary">Törlés</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!-- user:{{user|json}}
{{booking|json}} -->
<!-- <pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre> -->