<p>Új foglalás</p>

<input [(ngModel)]="newBooking.name" type="text" placeholder="Név">
<input [(ngModel)]="newBooking.playgroundd" type="text" placeholder="Pálya név">
<input [(ngModel)]="newBooking.type" type="text" placeholder="Játékmód">


<ngb-datepicker #dp [(ngModel)]="newBooking.date" (navigate)="date = $event.next" />
<input [(ngModel)]="newBooking.time" type="time" placeholder="Óra">
<hr />

<button class="btn btn-sm btn-outline-primary me-2" (click)="date = today">Mai nap</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">Jelenlegi hónap</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="pushBooking()">Mentés</button>


<hr />
<ng-container *ngIf="user && bookings">
<div *ngFor="let item of bookings|searchBooking:user.uid" class="row">
    <div class="col">{{item|json}}</div>
    <div class="col"><button type="button" (click)="editBooking(item)" class="btn btn-primary">Szerkesztés</button></div>
    <div class="col"><button type="button" (click)="deleteBooking(item)" class="btn btn-primary">Törlés</button></div>
</div>
</ng-container> 
<!-- user:{{user|json}}
{{booking|json}} -->
<!-- <pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre> -->
