<h1>Főoldal</h1>
<p>Üdvözlünk az Íjász Csata pályán! Ahol a kezdőket megtanítjuk az alapokra és a profikat megfelelő kihívások elé állítjuk. </p>
<h2>Az oldalról</h2>
<p>Ez az odal a íjászat sport kedvelőinek készítettük. Eszközeink biztonságosak és sérülést nem okoznak. Külsős eszközöket nem lehet használni a párbaj játékmódjainkban.</p>
<div class="row">
    <div class="col">
        <img width="300" height="450"  src="./assets/image-5.png" alt="Célba lövés"/> 
    </div>
    <div class="col">
        <img width="500" height="350" src="./assets/kep.jpg" alt="Tüzelésre kész">
    </div>
</div>

