<h1>Főoldal</h1>
<p>Üdvözlünk az Íjász Csata weblapon!  </p>
<hr>
<h2>Híreink!</h2>
<h5>2025.02.5</h5>
<p>Gratulálunk barátunknak és támogatónknak, Teodornak Norvégiából a legutóbbi íjász versenyén! Szoros mérkőzés volt, de a végén egy pontos lövéssel befutott a második helyre, Dagurt és Felixet megelőzve. Kívánunk neki sok sikert a következőre is innen Magyarországról!</p>
<div class="row">
    <div class="col">
        <img width="300" height="450"  src="./assets/image-5.png" alt="Célba lövés"/> 
    </div>
    <div class="col">
        <img width="500" height="350" src="./assets/kep.jpg" alt="Tüzelésre kész">
    </div>
    <div class="col">
        <img width="350" height="500" src="./assets/image-6.png" alt="Tábla">
    </div>
</div>

